body {
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Sarpanch', sans-serif;
    background-color: #f4f4f9;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    background-image: url('https://i.namu.wiki/i/cfTuzuN30MHAxlgUd009XVYw6ALjHyNK0s3J529ETI1a3DiS7hKu67e4APnWkMsP25Cnj31sCEs6u8kttaX7nw.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
    background-attachment: inherit;
    z-index: -1;
}
.centered-rectangle {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}
h1, p {
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-weight: bold;
}
h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-top: 0;
}
h3 {
    text-align: center;
    color: #555;
    font-size: 1.2em;
    margin-top: 0;
}
p {
    color: white;
    font-size: 1em;
    margin-top: 0;
}
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(19, 21, 30, 0.95);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    border: 1.5px solid rgb(255, 255, 255, 0.5);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
select, input[type="number"], input[type="checkbox"], button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    background-color: rgb(18, 18, 18); 
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    font-family: 'Sarpanch', sans-serif;
    box-sizing: border-box;
}
select {
    color: white; 
}
input[type="number"] {
    height: 42px;
}
button {
    background-color: rgb(128, 152, 189);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover, button:active {
    background-color: rgb(195, 206, 223);
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    background-color: rgb(18, 18, 18); 
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    font-family: 'Sarpanch', sans-serif;
    box-sizing: border-box;
}

input[type="text"]:disabled {
    background-color: #333;
    color: gray;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
    cursor: pointer;
    align-self: center;
}

.checkbox-group label {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: center;
    white-space: nowrap;
}

.cb_leftgear {
    margin-left: 0px; 
}
.cb_potions {
    margin-left: 0px; 
}
.cb_othereffects {
    margin-left: 0px;
}

#manual-luck-container {
    display: none;
}
#manual-luck:checked ~ #manual-luck-container {
    display: block;
}

#auto-container {
    display: block;
}
#manual-luck:checked ~ #auto-container {
    display: none;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.toggle-label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.toggle-option {
    font-weight: bold;
    margin: 0 5px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.total-luck-display {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
}

.alert-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 10000;
    width: 400px; 
    height: 200px;
    text-align: center;
    box-sizing: border-box;
}

.alert-popup .alert-content {
    position: relative;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.alert-popup button {
    margin-top: auto; 
    padding: 10px 20px;
    background-color: rgb(128, 152, 189);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.alert-popup button:hover, .alert-popup button:active {
    background-color: rgb(195, 206, 223);
}

body.blur .centered-rectangle,
body.blur form,
body.blur .footer {
    filter: blur(5px);
}

.visit-counter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    z-index: 1000;
    cursor: pointer;
}

.visit-counter[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s;
}

.visit-counter.tooltip-active[data-tooltip]::after {
    opacity: 1;
}

.countdown {
    position: fixed;
    top: 40px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    z-index: 1000;
}

body.blur .centered-rectangle,
body.blur form,
body.blur .footer,
body.blur .visit-counter,
body.blur .countdown {
    filter: blur(5px);
    pointer-events: none; /* Disable interaction */
}

/*
.exotic {
    background-image: linear-gradient(120deg, #8e2f29, #b06c49, #dbc87c, #84d0b6, #686dad, #a25d9e, #c05c9c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: Black;
    -webkit-text-stroke: 0.175em transparent;
    font-family: Balthazar;
}


.diaboli-void {
    background: linear-gradient(178deg, #5E16FE, #4D1CFD, #791CFD, #8C38FE);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Josefin Sans;
}
.undead-devil {
    background: linear-gradient(178deg, #FD3030, #FD7D7D, #FFB8B8);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Josefin Sans;
}
.comet {
    color: #FFFFFF;
    font-family: Caesar Dressing;
}
.jade {
    background: linear-gradient(90deg, #04E282, #04BC5F, #06AE59, #05422F);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Merriweather;
}
.aether {
    background-image: linear-gradient(120deg, #bdc6ff, #a2becc, #d3fff8, #d9ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: .2em transparent;
    font-family: Fondamento;
    padding: 0.1em 0.2em;
}
.bounded {
    background: linear-gradient(178deg, #3161FF, #3186FF, #31A7FF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .3px black;
    font-family: Sarpanch;
}
.celestial {
    background: linear-gradient(178deg, #BDF0FC, #F6F0FD, #DCBDFB);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .0 .5px black;
    font-family: Tangerine;
}
.kyawthuite {
    background: linear-gradient(88deg, #aa7aff 40%, #7734ed 25%, #6820e8 65%, #5c00ff 50%, #14014b);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.0px black;
    font-family: Merriweather;
}
.arcane {
    background: linear-gradient(90deg, #547AFF, #82B9FF, #A5C9FE, #D9E8FF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .3px black;
    font-family: Josefin Sans;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: bold;
}
.magnetic-reverse-polarity {
    background: #c058f8;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .7px #f9c736;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-style: Italic;
}
.rage-brawler {
    font-family: 'Sedgwick Ave Display';
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to top, #FFF 20%, #FF0000 60%, #000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0.1em 0 0.1em;
}
.undefined {
    background: linear-gradient(178deg, #5D5D5D, #494949, #1B1B1B, #000000);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Rajdhani;
}
.astral {
    background: linear-gradient(178deg, #8461bc, #8461bc, #8461bc, #8461bc);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .0px black;
    font-family: Inconsolata;
}
.gravitational {
    background: linear-gradient(178deg, #697FEA, #8E9EF2);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Permanent Marker;
}
.bounded-unbound {
    background: linear-gradient(178deg, #F4A4FC, #EA8FCA, #BA4EDD, #7823A2);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px black;
    font-family: Audiowide;
}
.virtual {
    background: linear-gradient(178deg, #eaedf8, #b4cef6, #adc6f6);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px #7a96e4;
    font-family: Audiowide;
}
.savior {
    background-image: linear-gradient(180deg, #ff0052, #e3a47c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke: 0.05em transparent;
    font-family: 'Audiowide';
}
.acquatic-flame {
    background: linear-gradient(178deg, #e29f5a 40%, #ec9c44, #de8436 40%, #ad4917);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Sarpanch;
}
.poseidon {
    background: linear-gradient(180deg, #10004a, #0cc8cb);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: Balthazar;
}
.zeus {
    background: linear-gradient(180deg, #d4d9b8 80%, #f9f8eb 20%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .4px black;
    font-family: Times New Roman;
}
.solar-solstice {
    background: linear-gradient(90deg, #ffec59, #fff8bf);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: Fondamento;
    -webkit-text-stroke: 0px black;
}
.galaxy {
    background: linear-gradient(178deg, #4221FF, #A88BFF, #BFA2FF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .3px black;
    font-family: Blaka;
    font-weight: bold;
}
.lunar-fullmoon {
    background: linear-gradient(178deg, #b39d77, #c9b07b, #ddc084);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px #f3e0a4;
    font-family: Merriweather;
}
.twilight {
    background: linear-gradient(178deg, #4221FF, #A88BFF, #BFA2FF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
}
.origin {
    background: linear-gradient(180deg, #556cff, #5d5dff, #556cff);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px #adc9ff;
    font-family: Great Vibes;
    paint-order: stroke;
}
.hades {
    background: linear-gradient(178deg, #FF430A, #AC1F04, #4F0001);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .001px black;
    font-family: Rye;
}
.celestial-divine {
    background: linear-gradient(0deg, #FEC9F4 50%, #C9D4FE 50%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: Playfair Display;
}
.hyper-volt {
    background: linear-gradient(178deg, #8048FF, #A780FF, #BC9FFF, #FBF5FF 100%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: Caesar Dressing;
}
.nihility {
    background: #000;
    -webkit-text-stroke: 0.025em #FFF;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Overpass;
}
.starscourge {
    background: linear-gradient(178deg, #FF1F1F, #FF4C4C, #FF8080, #FFABAB);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Merriweather;
}
.sailor {
    color: #60B1FF;
    font-family: Kalam;
}
.glitch {
    font-family: 'Gill Sans', sans-serif;
    user-select: none;
    margin: 5px 3px;
    background: linear-gradient(45deg, #0C1537ee 0%, #282d3f 100%) padding-box, linear-gradient(45deg, #8492a6 0%, #8492a6 100%) border-box;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0px 2px 20px #000000bb;
    text-align: center;
    border: 2px solid transparent;
    padding: 3px;
}
.stormal-hurricane {
    font-family: 'Gill Sans', sans-serif;
    user-select: none;
    margin: 5px 3px;
    background: linear-gradient(45deg, #0C1537ee 0%, #282d3f 100%) padding-box, linear-gradient(45deg, #8492a6 0%, #8492a6 100%) border-box;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0px 2px 20px #000000bb;
    text-align: center;
    border: 2px solid transparent;
    padding: 3px;
}
.sirius {
    background: linear-gradient(178deg, #f2be96 20%, #f8c399 85%, #df925e);
    font-family: Fondamento;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #a04632;
}
.arcane-legacy {
    background: linear-gradient(90deg, #547AFF, #82B9FF, #A5C9FE, #D9E8FF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .3px black;
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: bold;
}
.chromatic {
    font-weight: bold;
    animation: rainbow .9s infinite;
    -webkit-animation: rainbow .9s infinite;
    -moz-animation: rainbow .9s infinite;
    font-family: Sarpanch;
}
.aviator {
    font-family: Noto Serif TC;
    color: #fef2c4;
}
.arcane-dark {
    background: linear-gradient(178deg, #FF33F6, #FF6FF9, #EA8BFF, #E159FF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .3px black;
    font-family: Josefin Sans;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: bold;
}
.ethereal {
    background: linear-gradient(178deg, #B19ED7 50%, #b1a7cf 40%, #c5c2d0 20%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.4px black;
    font-family: Merriweather;
}
.overseer {
    font-family: 'Gill Sans', sans-serif;
    user-select: none;
    margin: 5px 3px;
    background: linear-gradient(45deg, #0C1537ee 0%, #282d3f 100%) padding-box, linear-gradient(45deg, #8492a6 0%, #8492a6 100%) border-box;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0px 2px 20px #000000bb;
    text-align: center;
    border: 2px solid transparent;
    padding: 3px;
}
.exotic-apex {
    background: linear-gradient(178deg, #6af5a4 70%, #5dbe92 25%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .9px black;
    font-family: Sarpanch;
}
.matrix {
    -webkit-text-stroke: 2px black;
    color: #8ff6d2;
    -webkit-text-stroke-width: 0.4px;
    letter-spacing: 3px;
    font-family: Merriweather;
    -webkit-text-stroke: .5px black;
}
.twilight-iridescent-memory {
    font-family: 'Gill Sans', sans-serif;
    user-select: none;
    margin: 5px 3px;
    background: linear-gradient(45deg, #0C1537ee 0%, #282d3f 100%) padding-box, linear-gradient(45deg, #8492a6 0%, #8492a6 100%) border-box;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 0px 2px 20px #000000bb;
    text-align: center;
    border: 2px solid transparent;
    padding: 3px;
}
.sailor-flying-dutchman {
    background: linear-gradient(180deg, #184e07 6%, #9bda2f 60%, #629224 75%, #364d11, #233a06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px black;
    font-family: Noto Serif;
}
.chromatic-genesis {
    -webkit-text-stroke: .9px #a695e2;
    color: #000000;
    -webkit-text-stroke-width: 0.4px;
    font-family: Audiowide;
    font-weight: bold;
}
.starscourge-radiant {
    background: linear-gradient(178deg, #d1e4ec 80%, #b4c6ca 20%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .85px #8fa3ab;
    font-family: Audiowide;
    font-weight: bold;
}
.overture {
    background: linear-gradient(45deg, #7FA6F9, #4350AF);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-family: Fondamento;
    -webkit-text-stroke: 0px black;
}
.symphony {
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
    color: rgb(108, 129, 113);
    background: linear-gradient(90deg, rgba(216, 219, 255, 1) 0%, rgba(170, 170, 255, 1) 50.2%, rgba(255, 255, 255, 1) 100%);
    font-family: Parisienne;
    font-style: italic;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    stroke-linejoin: round;
    paint-order: stroke;
}
.impeached {
    background: linear-gradient(178deg, #FFD6FD, #FFC7FC, #FFADFA, #FF8DF8, #FF62F6 65%, #FF27F2);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px black;
    font-family: Sarpanch;
}
.oppression {
    color: #FFFFFF;
    background: linear-gradient(178deg, #000000 15%, #888888 45%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px 1px 0 #000000, 1px 1px 0 #888888, 1px -1px 0 #DDDDDD, -1px -1px 0 #FFFFFF;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
}
.archangel {
    background: linear-gradient(178deg, #FEFAEC 15%, #FDEDC1 45%, #FDCC44 100%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px black;
    letter-spacing: 5px;
    font-family: 'Merriweather', serif;
}
.overture-history {
    background: linear-gradient(2deg, #f7fefe, #76c98f 5%, #f8fefc 30%, #80da99, #82d496, #efffef);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .1px black;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.bloodlust {
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
    color: black;
    background: linear-gradient(-220deg, rgba(255, 44, 48, 1) 0%, rgba(0, 0, 0, 1) 100%);
    font-family: 'Accanthis ADF Std', serif;
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    stroke-linejoin: round;
    paint-order: stroke;
}
.atlas {
    background-image: linear-gradient(29deg, #563009 15%, #E9C072, #FFFAB0, #E9C072, #563009 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Antique', serif;
    text-transform: uppercase;
    letter-spacing: 0.375em;
}
.abyssal-hunter {
    background: linear-gradient(10deg, #7ecafe 30%, #9ddaff 45%, #4fa6fc, #3a77fe, #296eff 90%, #3bb9fd);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .2px black;
    font-family: 'Trade Winds', sans-serif;
    font-family: 'Sarpanch', sans-serif;
}
.gargantua {
    background: #d9a45b;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: .1em transparent;
    font-family: 'Sarpanch', sans-serif;
}
.apostolos {
    background-image: linear-gradient(180deg, #D84545 25%, #FFA8AD, #4F0E13 50%, #D84545 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.0175em #4F0E13;
    font-family: serif;
}
.ruins {
    background: linear-gradient(180deg, #83b97b 90%, #738d66);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px #244623;
    line-height: 1em;
    font-family: 'Tangerine', cursive;
}
.matrix-overdrive {
    background-image: linear-gradient(0deg, #F90004, #F90004);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #320A0C;
    -webkit-text-stroke: 0.05em transparent;
    font-family: 'Audiowide', sans-serif;
}
.sovereign {
    background: linear-gradient(180deg, #F3EDD8 50%, #E5E4EA 55%, #BED0F7 25%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-stroke: 0.06px black;
    -webkit-text-fill-color: transparent;
    font-family: 'Fondamento', cursive;
}
.aegis {
    background: linear-gradient(175deg, #b1f9ff 0%, #a7f2ff 35%, #9ce8ff 55%, #87cfff 85%, #70b0ff 100%);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .1px #4391ff;
    font-family: 'Audiowide', sans-serif;
}
.luminosity {
    background: linear-gradient(90deg, #a2b3eb 30%, #b6bcde 40%, #c3c9d7, #b1bdc9 65%, #abbad9, #c0ceeb);
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .1px black;
    font-family: 'Merriweather', serif;
}